RewriteEngine On

# User pages
RewriteRule ^home\.php$ user/home.php [L]
RewriteRule ^appointments\.php$ user/appointments.php [L]
RewriteRule ^update-profile\.php$ user/update-profile.php [L]
RewriteRule ^view-consultation\.php$ user/view-consultation.php [L]
RewriteRule ^request-medical-document\.php$ user/request-medical-document.php [L]
RewriteRule ^request-for-new-consultation\.php$ user/request-for-new-consultation.php [L]
RewriteRule ^privacy-notice\.php$ user/privacy-notice.php [L]
RewriteRule ^broad-consent\.php$ user/broad-consent.php [L]
RewriteRule ^change-password\.php$ user/change-password.php [L]
RewriteRule ^general-concern\.php$ user/general-concern.php [L]

# Admin pages
RewriteRule ^admin\.php$ admin/admin.php [L]
RewriteRule ^appointmentss\.php$ admin/appointmentss.php [L]
RewriteRule ^consultation\.php$ admin/consultation.php [L]
RewriteRule ^patients\.php$ admin/patients.php [L]
RewriteRule ^medical-request\.php$ admin/medical-request.php [L]
RewriteRule ^add-appointment\.php$ admin/add-appointment.php [L]
RewriteRule ^archive-appointmentss\.php$ admin/archive-appointmentss.php [L]

# Disable ModSecurity
<IfModule mod_security.c>
    SecFilterEngine Off
    SecFilterScanPOST Off
</IfModule>
<IfModule mod_security2.c>
    SecRuleEngine Off
</IfModule>





